$breakpoint: 800px;
$primary-red: hsl(0, 78%, 62%);
$primary-cyan: hsl(180, 62%, 55%);
$primary-orange: hsl(34, 97%, 64%);
$primary-blue: hsl(212, 86%, 64%);
$neutral-900: hsl(234, 12%, 34%);
$neutral-400: hsl(229, 6%, 66%);
$neutral-100: hsl(0, 0%, 98%);
$font-size: 15px;
$font-light: 200;
$font-medium: 400;
$font-heavy: 600;
$font-family: 'Poppins', sans-serif;
